/* aplicando color amarillo a las letras del navbar*/


.body{
    background-color: darkgoldenrod;
}

.h1p{
    display: flex;
    justify-content: center;
    
}
.amarillo{
    text-decoration: rgb(204, 238, 13);
}